<div class="container">
  <div class="content">
    <div class="hero">
      <div class="hero-namecard">
        <div class="name-title">Marius Andrian</div>
        <div class="name-subtitle">software engineer</div>
        <div class="socials">
          <div class="github logo">
            <a target="_blank" href="https://github.com/mariusandrian"
              ><img src="../assets/github.svg"
            /></a>
          </div>
          <div class="linkedin logo">
            <a target="_blank" href="https://linkedin.com/in/mariusandrian"
              ><img src="../assets/linkedin.svg"
            /></a>
          </div>
        </div>
      </div>
      <div class="statement-container">
        <div class="paragraph">
          hej! I am a full-stack software engineer adept in
          <code class="inline">Golang</code>
          and <code class="inline">Typescript</code>, experienced in
          <code class="inline">leading projects</code>, and is always looking
          for a new challenge. Enamored by the beauty and power of code, I
          plunged head first to coding and never looked back.
        </div>
        <div class="paragraph">
          with experience as a former business analyst and tester, it primes me
          to be as <code class="inline">product</code> and
          <code class="inline">user-oriented</code> as possible when creating my
          projects.
        </div>
        <div class="paragraph">
          when I'm not coding, I devote myself to climbing (bouldering), lifting
          weights and fiddling with pasta recipes.
        </div>
        <div class="download-btn">
          <a href="../assets/Marius Andrian_Resume_082023.docx">
            <div class="button">download resume</div>
          </a>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="header">work experience</div>
      <div class="list-item">
        <div class="title">
          <div class="company">Qavar</div>
          <div class="time">2021 - present</div>
        </div>
        <div class="item-content">
          <div class="sub">software engineer</div>
          <div class="project">Patient Management System</div>
          <div class="desc">
            Full software suite with admin interface, queue system and check-in
            using QR codes
          </div>
          <div class="project">Educational Flashcard App</div>
          <div class="desc">
            iOS and Android app to prepare for upcoming tests, built with
            Nativescript
          </div>
          <div class="project">Interactive Quiz</div>
          <div class="desc">
            Quiz web app that engages customers in a roadshow and sends them
            their prize codes through email
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="header">skills</div>
      <div class="list-item">
        <div class="list-title">languages</div>
        <div class="chip-list">
          <div class="chip-item">Golang</div>
          <div class="chip-item">Typescript</div>
          <div class="chip-item">Javascript</div>
        </div>
      </div>

      <div class="list-item">
        <div class="list-title">technologies/frameworks</div>
        <div class="chip-list">
          <div class="chip-item">Postgres</div>
          <div class="chip-item">SQLite</div>
          <div class="chip-item">Docker</div>
          <div class="chip-item">Nginx</div>
          <div class="chip-item">AWS EC2, S3</div>
          <div class="chip-item">Linux</div>
          <div class="chip-item">Angular</div>
          <div class="chip-item">Nativescript</div>
        </div>
      </div>

      <div class="list-item">
        <div class="list-title">things I am learning for fun</div>
        <div class="chip-list">
          <div class="chip-item">C++</div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="header">let's have a chat!</div>
      <div class="list-item linkedin">
        over
        <a
          class="link"
          target="_blank"
          href="https://linkedin.com/in/mariusandrian"
          >linkedin</a
        >
      </div>
      <div class="list-item email">
        or over email at
        <a class="link" target="_blank" href="mailto:marius.atj@gmail.com"
          >marius.atj@gmail.com</a
        >
      </div>

      <div></div>
    </div>

    <div class="section">
      <div class="header">see what I've been doing</div>
      <div class="list-item github">
        <a class="link" target="_blank" href="https://github.com/mariusandrian"
          >github</a
        >
      </div>
      <div class="list-item blog inactive-text">blog (coming soon)</div>
    </div>

    <div class="footer">
      <div class="trademark">made with 🔥 2023 &#169; Marius Andrian</div>
    </div>
  </div>
</div>
